html { font-size: 10px; background-color: #000000; background-image: url('/assets/images/main.jpeg'); background-size: cover; font-family: 'witcher'; }
body {
    background-size: cover;
    background-image: url('/assets/images/game/witcher.jpg');
    margin: 0;
    padding: 0;
  }

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.8rem;
    background-color: black;
    z-index: 999;
    transition: 0.6s;
    .menu__logo {
      position: absolute;
      top: 0;
      left: 2rem;
      width: 5.8rem;
      height: 5.8rem;
      background-image: url('/assets/images/main/logo.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .menu__items {
      position: relative;
      width: 80%;
      line-height: 5.8rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
      .active {
          color: red;
      }
      a {
        font-size: 2.6rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        transition: 0.6s linear;
      }
      a:hover {
        color: red;
      }
    }
  }

  .resetBtn {
    position: absolute;
    left: 0rem;
    top: 0%;
    width: 10rem;
    height: 10rem;
    border-radius: 50% ;
    transition: all 0.4s linear;
    .resetBtn-img {
      width: 100%;
      height: 100%;
      background-image: url('/assets/images/game/repeat.svg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .resetBtn:hover {
    transform: rotate(-240deg);
  }

  .memory-game { 
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 40%; //640px
    height: 65%; //640px
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    background-color: rgb(196, 196, 196, 0.7);
    padding: 3% 7%;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    cursor: pointer; 
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #000000;
    backface-visibility: hidden;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

// .game {
//     position: absolute;
//     top: 0rem;
//     width: 100vw;
//     height: 100vh;
//     background-size: cover;
//     background-image: url('/assets/images/game/witcher.jpg');
//     // .game_board {
//     //     width: 150rem;
//     //     height: 80rem;
//     //     margin-left: auto;
//     //     margin-right: auto;
//     //     margin-top: calc(100vh - 85.8rem);;
//     //     background-color: #C4C4C4;
//     //     opacity: 0.7;
//     // }
// }

@media (min-width: 1024px) and (max-width: 1366px) {
  .game .game_board {
    width: 118rem;
    height: 65rem;
    margin-top: calc(100vh - 68rem);
  }
}

@media (max-width: 1300px) {
  .resetBtn {
    width: 5rem;
    height: 5rem;
  }
 }

